		<hr class="m-2" /><!-- 1px line separator -->
		<div class="text-center">
			<br>
			<a
				style="font-family:Poppins;font-size:50px;line-height:50px;color:#a01818;top:552px;left:883px;font-weight:600;">Commercial
				and Corporate Styles</a> <br><br>
			<p>Working place are where the people want to feel safe, and is where they spend a lot of time. At Rocket
				Elevators, we know that, an we want to take that to the next level. <br> Here is a little catalog with
				some of our designs, please feel free to <strong>contact us</strong> if you have any question.</p>
		</div>

		<hr class="m-2" /><!-- 1px line separator -->



		<!-- SLIDE SECTION -->

		<div id="layerslider" class="giantmargin" style="width:1280px;height:720px;max-width:1280px;">

			<div class="ls-slide" data-ls="bgsize:contain;duration:4000;transition2d:73;kenburnszoom:in;">
				<%= image_tag("Commercial/commercial1.jpg", height:"300px", alt:"vintage elevator", class:"ls-bg")%>
				<!--img height="300" src="assets/images/Commercial/commercial1.jpg" class="ls-bg" alt="vintage elevator"-->
				<p style="font-family:Poppins;font-size:50px;line-height:50px;color:#3d3d3d;top:552px;left:883px;font-weight:600;"
					class="ls-l"
					data-ls="offsetxin:-100%;durationin:600;delayin:400;easingin:easeOutQuint;clipin:0 0 0 100%;offsetxout:-100%;durationout:500;clipout:0 0 0 100%;parallaxlevel:0;">
					Vintage Style
				</p>
				<p style="letter-spacing:7px;font-family:Poppins;font-size:24px;line-height:24px;color:#a01818;top:602px;left:885px;font-weight:700;"
					class="ls-l"
					data-ls="offsetxin:-100%;durationin:600;delayin:400;easingin:easeOutQuint;clipin:0 0 0 100%;offsetxout:-100%;durationout:500;clipout:0 0 0 100%;parallaxlevel:0;">
					Iron and glass.
				</p>
			</div>

			<div class="ls-slide" data-ls="bgsize:contain;duration:4000;transition2d:73;kenburnszoom:in;">
				<%= image_tag("Commercial/commercial2.jpeg", height:"300px", alt:"elevator", class:"ls-bg")%>
				<!--img height="300" src="assets/images/Commercial/commercial2.jpeg" class="ls-bg" alt="elevator"-->
				<p style="font-weight:600;overflow:hidden;font-family:Poppins;font-size:50px;line-height:50px;color:#3d3d3d;top:552px;left:883px;"
					class="ls-l"
					data-ls="offsetxin:-100%;durationin:600;delayin:400;easingin:easeOutQuint;clipin:0 0 0 100%;offsetxout:-100%;durationout:500;clipout:0 0 0 100%;parallaxlevel:0;">
					Clean Style
				</p>
				<p style="letter-spacing:7px;font-family:Poppins;font-size:24px;line-height:24px;color:#a01818;top:602px;left:885px;font-weight:700;"
					class="ls-l"
					data-ls="offsetxin:-100%;durationin:600;delayin:400;easingin:easeOutQuint;clipin:0 0 0 100%;offsetxout:-100%;durationout:500;clipout:0 0 0 100%;parallaxlevel:0;">
					Stainless steel.
				</p>
			</div>

			<div class="ls-slide" data-ls="bgsize:contain;duration:4000;transition2d:73;kenburnszoom:in;">
				<%= image_tag("Commercial/commercial3.jpg", height:"1000px", width:"1000px", alt:"elevator", class:"ls-bg")%>
				<!--img width="1000" height="1000" src="assets/images/Commercial/commercial3.jpg" class="ls-bg"
					alt="elevator"-->
				<p style="font-family:Poppins;font-size:50px;line-height:50px;color:#3d3d3d;top:552px;left:883px;font-weight:600;"
					class="ls-l"
					data-ls="offsetxin:-100%;durationin:600;delayin:400;easingin:easeOutQuint;clipin:0 0 0 100%;offsetxout:-100%;durationout:500;clipout:0 0 0 100%;parallaxlevel:0;">
					Elegant Style
				</p>
				<p style="letter-spacing:7px;font-family:Poppins;font-size:24px;line-height:24px;color:#a01818;top:602px;left:885px;font-weight:700;"
					class="ls-l"
					data-ls="offsetxin:-100%;durationin:600;delayin:400;easingin:easeOutQuint;clipin:0 0 0 100%;offsetxout:-100%;durationout:500;clipout:0 0 0 100%;parallaxlevel:0;">
					Wood, ceramic and<br> stainless steel.
				</p>
			</div>

			<div class="ls-slide" data-ls="bgsize:contain;duration:4000;transition2d:73;kenburnszoom:in;">
				<%= image_tag("Commercial/commercial4.jpeg", height:"1000px", width:"1000px", alt:"glas elevator", class:"ls-bg")%>
				<!--img width="1000" height="1000" src="assets/images/Commercial/commercial4.jpeg" class="ls-bg"
					alt="glas elevator"-->
				<p style="font-family:Poppins;font-size:50px;line-height:50px;color:#3d3d3d;top:552px;left:883px;font-weight:600;"
					class="ls-l"
					data-ls="offsetxin:-100%;durationin:600;delayin:400;easingin:easeOutQuint;clipin:0 0 0 100%;offsetxout:-100%;durationout:500;clipout:0 0 0 100%;parallaxlevel:0;">
					Light Style
				</p>
				<p style="letter-spacing:7px;font-family:Poppins;font-size:24px;line-height:24px;color:#a01818;top:602px;left:885px;font-weight:700;"
					class="ls-l"
					data-ls="offsetxin:-100%;durationin:600;delayin:400;easingin:easeOutQuint;clipin:0 0 0 100%;offsetxout:-100%;durationout:500;clipout:0 0 0 100%;parallaxlevel:0;">
					Glass and stainless <br> steel.
				</p>
			</div>

			<div class="ls-slide" data-ls="bgsize:contain;duration:4000;transition2d:73;kenburnszoom:in;">
				<%= image_tag("Commercial/commercial5.jpeg", height:"1000px", width:"1000px", alt:"gold elevator", class:"ls-bg")%>
				<!--img width="1000" height="1000" src="assets/images/Commercial/commercial5.jpeg" class="ls-bg"
					alt="gold elevator"-->
				<p style="letter-spacing:-1px;font-family:Poppins;font-size:50px;line-height:50px;color:#3d3d3d;top:552px;left:883px;font-weight:600;"
					class="ls-l"
					data-ls="offsetxin:-100%;durationin:600;delayin:400;easingin:easeOutQuint;clipin:0 0 0 100%;offsetxout:-100%;durationout:500;clipout:0 0 0 100%;parallaxlevel:0;">
					Custom Style
				</p>
				<p style="letter-spacing:7px;font-family:Poppins;font-size:24px;line-height:24px;color:#a01818;top:602px;left:885px;font-weight:700;"
					class="ls-l"
					data-ls="offsetxin:-100%;durationin:600;delayin:400;easingin:easeOutQuint;clipin:0 0 0 100%;offsetxout:-100%;durationout:500;clipout:0 0 0 100%;parallaxlevel:0;">
				</p>
				
			</div>

		</div>

		<div>
			<br><br><br><br><br><br><br><br>
		</div>

		<!-- Initializing the slider -->
		<script>
			jQuery("#layerslider").layerSlider({
				type: 'responsive',
				skin: 'roundedflat',
				skinsPath: 'assets/skins/',
				thumbnailNavigation: 'always',
				tnContainerWidth: '100%',
				navStartStop: false,
				tnWidth: 180,
				tnHeight: 130
			});
		</script>
		<!---/Initializing the slider-->

		<!-- /SLIDE SECTION -->


		<!-- BUTTON CALLOUT -->
		<a href="index.html#contact" class="btn btn-xlg btn-blue fs-20 fullwidth m-0 rad-0 p-40">
			<span class="font-lato fs-30">
				Contact us to see more styles.
				<strong>Contact us &raquo;</strong>
			</span>
		</a>
		<!-- /BUTTON CALLOUT -->

