		<!-- REVOLUTION SLIDER -->
		<div class="slider fullwidthbanner-container roundedcorners">
			<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
				<ul class="hide">
					<!-- SLIDE  -->
					<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="600"
						data-saveperformance="off" data-title="Homepage">
						<!-- MAIN IMAGE -->

						<%= image_tag("Slide/Slide1.jpeg", :alt => "cover image - cylindrical elevators", :data => "center", :data => "cover", :data => "no-repeat" ) %>


						<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="50" data-y="200"
							data-speed="400" data-start="1500" data-easing="Power3.easeInOut" data-splitin="words"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
							style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-emphasis: shadow 1px;;">
							1# CANADIAN CHOICE

						</div>

						<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="50" data-y="300"
							data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
							style="z-index: 3; font-size:20px; color:rgb(255, 255, 255); font-weight:bold; text-emphasis: shadow 1px;;">
							Come see what we are capable of...
						</div>

						<div class="tp-caption tp-fade" data-x="left" data-y="25" data-speed="300" data-start="800"
							data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
							data-endspeed="300" style="z-index: 4;">

						</div>

						<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="50" data-y="410"
							data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
							style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-blue btn-lg" href="#services">OUR SERVICES &nbsp; <i
									class="fa fa-angle-right"></i></a>
						</div>
						<div class="tp-caption sfb tp-resizeme" data-x="600" data-y="410" data-speed="500"
							data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-default btn-lg" href="quote.html">GET A QUOTE &nbsp; <i
									class="fa fa-angle-right"></i></a>
						</div>


					</li>

					<!-- SLIDE  -->
					<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"
						data-saveperformance="off" data-title="Service promotions">
						<!-- MAIN IMAGE -->

						<%= image_tag("Slide/residentialSlide2.jpeg", :alt => "cover image - person going to second floor", :data => "center top", :data => "cover", :data => "no-repeat" ) %>

						<!--<img src="assets/images/Slide/residentialSlide2.jpeg"
							alt="cover image - person going to second floor" data-bgposition="center top"
							data-bgfit="cover" data-bgrepeat="no-repeat">-->

						<div class="overlay dark-4">
							<!-- dark overlay [0 to 9 opacity] -->
						</div>

						<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="100"
							data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 2; color:rgb(255, 255, 255); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none; ">
							RESIDENTIAL <br> PROMOTIONS
						</div>

						<div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="300" data-speed="500"
							data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
							Check out our residential promotions.
						</div>

						<div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500"
							data-start="1500" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none"
							data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 4; max-width: auto;">
							<a class="btn btn-blue btn-lg" href="residential.html">OUR SERVICES &nbsp; <i
									class="fa fa-angle-right"></i></a>
						</div>


					</li>

					<!-- SLIDE  -->
					<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"
						data-saveperformance="off" data-title="Commercial promotions">
						<!-- MAIN IMAGE -->

						<%= image_tag("Slide/corporateSlide3.jpeg", :alt => "cover image - building elevators", :data => "center", :data => "cover", :data => "no-repeat" ) %>


						<div class="overlay dark-4">
							<!-- dark overlay [0 to 9 opacity] -->
						</div>

						<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="100"
							data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							COMMERCIAL <br>PROMOTIONS
						</div>

						<div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="300" data-speed="500"
							data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 3; font-size:20px; color:#fff;">
							Check out our commercial promotions.
						</div>

						<div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500"
							data-start="1500" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none"
							data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 4; max-width: auto;">
							<a class="btn btn-blue btn-lg" href="commercial.html">OUR SERVICES &nbsp; <i
									class="fa fa-angle-right"></i></a>
						</div>


					</li>
				</ul>

			</div>
		</div>
		<!-- /REVOLUTION SLIDER -->


		<hr class="m-0" /><!-- 1px line separator -->


		<!-- BUTTON CALLOUT -->
		<a href="#contact" class="btn btn-xlg btn-blue fs-20 fullwidth m-0 rad-0 p-40">
			<span class="font-lato fs-30">
				Did Rocket Elevators convinced you?
				<strong>Contact us &raquo;</strong>
			</span>
		</a>
		<!-- /BUTTON CALLOUT -->



		<!-- Services -->
		<section id="services">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">

						<%= image_tag("Service/Awards.jpg", :class => "img-fluid", :alt => "Project of the Year - award", :width => "355px") %>

						<h3 class="mt-10">Our Awards and Projects</h3>
						<p>Rocket Elevators has many recognitions and projects, come and see and take a look of the most
							outstanding. </p>
						<a href="#portfolio" class="btn btn-default">READ MORE</a>
					</div>

					<div class="col-sm-4">

					<%= image_tag("Service/residential.jpg", :class => "img-fluid", :alt => "living room with elevator", :width => "355px") %>

						<h3 class="mt-10">Residential Services</h3>
						<p>You want to renovate your residence, why not place an elevator? take a look at the different
							styles we have. </p>
						<a href="residential.html" class="btn btn-default">READ MORE</a>
					</div>

					<div class="col-sm-4">

					<%= image_tag("Service/commercial.jpg", :class => "img-fluid", :alt => "man holding laptop", :width => "355px") %>

						<h3 class="mt-10">Commercial Services</h3>
						<p>If you are looking for a quality elevator at a reasonable price for your company, do not
							hesitate to look at the styles that we have available.</p>
						<a href="commercial.html" class="btn btn-default">READ MORE</a>
					</div>

				</div>

			</div>
		</section>
		<!-- /Services -->




		<!-- Parallax -->
		<section class="parallax parallax-1" style="background-image: url(<%= image_path "demo_file/34-min.jpg"%>)">
			<div class="overlay dark-5"></div>
			<div class="container">
				<div class="text-center">
					<h2 class="fs-40 fw-300">Rocket Elevators has been in business since 1976</h2>
					<a class="btn btn-default btn-lg" href="quote.html">GET A QUOTE <i
							class="fa fa-angle-right"></i></a>
					<a class="btn btn-blue btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
				</div>
			</div>
		</section>

		<!-- /Parallax -->




		<!-- PORTFOLIO -->
		<section id="portfolio">
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h2>Featured Portfolio</h2>
				</div>

				<div class="text-center">
					<ul class="nav nav-pills mix-filter mb-60">
						<li data-filter="all" class="filter active"><a href="#">All</a></li>
						<li data-filter="projects" class="filter"><a href="#">Projects</a></li>
						<li data-filter="majorProjects" class="filter"><a href="#">Major Projects</a></li>
						<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
					</ul>
				</div>

			</div>

			<div id="portfolio" class="portfolio-nogutter">

				<div class="row mix-grid">

					<div class="col-md-3 col-sm-3 mix awards">
						<!-- item -->

						<div class="item-box">
							<figure>

								<%= image_tag(" projects_awards/Award1.jpg", :class => "img-fluid", :width => "600", :height => "399", :alt => "Project of the Year -award") %>
							</figure>

							<div class="item-box-desc">
								<h3>Project of the year</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Elevator world</a></li>
									<li><a href="#">2019</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix awards">
						<!-- item -->

						<div class="item-box">
							<figure>


							<%= image_tag(" projects_awards/award2.jpg", :class => "img-fluid", :width => "600", :height => "399", :alt => "Canadian business excellence award") %>
							</figure>

							<div class="item-box-desc">
								<h3>Canada Business Excellence</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Private businesses</a></li>
									<li><a href="#">2020</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix awards">
						<!-- item -->

						<div class="item-box">
							<figure>


							<%= image_tag(" projects_awards/award3.jpg", :class => "img-fluid", :width => "600", :height => "399", :alt => "Steve Gold Winnder - award") %>
							</figure>

							<div class="item-box-desc">
								<h3>Steve Gold Winner</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">International Business</a></li>
									<li><a href="#">2018</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix awards">
						<!-- item -->

						<div class="item-box">
							<figure>

							<%= image_tag(" projects_awards/award4.jpg", :class => "img-fluid", :width => "600", :height => "399", :alt => "Design award") %>
							</figure>

							<div class="item-box-desc">
								<h3>IF</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Design</a></li>
									<li><a href="#">2020</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix awards">
						<!-- item -->

						<div class="item-box">
							<figure>

							<%= image_tag(" projects_awards/award5.png", :class => "img-fluid", :width => "600", :height => "399", :alt => "Design award") %>
							</figure>

							<div class="item-box-desc">
								<h3>Certifie Argent</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Boma Best</a></li>
									<li><a href="#">2016</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix majorProjects">
						<!-- item -->

						<div class="item-box">
							<figure>

							<%= image_tag(" projects_awards/project1.jpg", :class => "img-fluid", :width => "600", :height => "399", :alt => "Singapore airport elevator") %>
							</figure>

							<div class="item-box-desc">
								<h3>Singapore Airport</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Singapore</a></li>
									<li><a href="#">2019</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix majorProjects">
						<!-- item -->

						<div class="item-box">
							<figure>

							<%= image_tag(" projects_awards/project2.jpg", :class => "img-fluid", :width => "600", :height => "399", :alt => "Frontenac Castle elevator") %>
							</figure>

							<div class="item-box-desc">
								<h3>Frontenac Castle</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Quebec city</a></li>
									<li><a href="#">2004</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix majorProjects">
						<!-- item -->

						<div class="item-box">
							<figure>

							<%= image_tag(" projects_awards/project3.jpg", :class => "img-fluid", :width => "600", :height => "399", :alt => "Path elevators") %>
							</figure>

							<div class="item-box-desc">
								<h3>Toronto's PATH </h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Toronto</a></li>
									<li><a href="#">2010</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix majorProjects">
						<!-- item -->

						<div class="item-box">
							<figure>

							<%= image_tag(" projects_awards/project4.jpg", :class => "img-fluid", :width => "600", :height => "399", :alt => "Madrid - subway street elevator") %>
							</figure>

							<div class="item-box-desc">
								<h3>Madrid Subway</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Madrid</a></li>
									<li><a href="#">2018</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix projects">
						<!-- item -->

						<div class="item-box">
							<figure>

							<%= image_tag(" projects_awards/project3.jpg", :class => "img-fluid", :width => "600", :height => "399", :alt => "Dinning room with elevator") %>


								<!--img class="img-fluid" src="assets/images/ projects_awards/project5.jpg" width="600"
									height="399" alt="dinning room with elevator"-->

							</figure>

							<div class="item-box-desc">
								<h3>Private Residence</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Montreal</a></li>
									<li><a href="#">2020</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix projects">
						<!-- item -->

						<div class="item-box">
							<figure>

							<%= image_tag(" projects_awards/project6.png", :class => "img-fluid", :width => "600", :height => "399", :alt => "TD elevators") %>

								<!--img class="img-fluid" src="assets/images/ projects_awards/project6.png" width="600"
									height="399" alt="TD elevators"-->

							</figure>

							<div class="item-box-desc">
								<h3>TD Building</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Ottawa</a></li>
									<li><a href="#">2020</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->

					<div class="col-md-3 col-sm-3 mix majorProjects">
						<!-- item -->

						<div class="item-box">
							<figure>

							<%= image_tag(" projects_awards/project7.jpg", :class => "img-fluid", :width => "600", :height => "399", :alt => "Buenos Aires courthouse elevator") %>

								<!--img class="img-fluid" src="assets/images/ projects_awards/project7.jpg" width="600"
									height="399" alt="Buenos Aires courthouse elevator"-->

							</figure>

							<div class="item-box-desc">
								<h3>Buenos Aires Courthouse</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Buenos Aires</a></li>
									<li><a href="#">1960</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->

				</div>


			</div>
		</section>
		<!-- /PORTFOLIO -->

 

		<!-- News -->
		<section id="news">
			<div class="container">
				<div class="heading-title heading-dotted text-center">
					<h2>Recent News</h2>
				</div>
				<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over"
					data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
					<div class="img-hover">
						<a href="https://elevatortoday.com/2020/06/27/schindler-cleancall/">
							<img class="img-fluid" src="<%= asset_path( 'News/new1.jpg' ) %>", alt="person calling elevator">
						</a>

						<h4 class="text-left mt-20"><a
								href="https://elevatortoday.com/2020/06/27/schindler-cleancall/">Schindler CleanCall</a>
						</h4>
						<p class="text-left">Less physical contact with shared interfaces means less potential to
							transmit dangerous bacteria and viruses, keeping tenants, employees and guests healthier.
						</p>

					</div>
					<div class="img-hover">
						<a
							href="https://elevatortoday.com/2016/02/07/internet-of-things-transforming-elevator-maintenance/">
							<img class="img-fluid" src="<%= asset_path( 'News/new2.jpg' ) %>", alt="internet">
						</a>

						<h4 class="text-left mt-20"><a
								href="https://elevatortoday.com/2016/02/07/internet-of-things-transforming-elevator-maintenance/">Internet
								of Things Transforming Elevator Maintenance</a></h4>
						<p class="text-left">Big data and the Internet of Things (IoT) – why is this couple important
							for our elevator service customers?</p>
					</div>
					<div class="img-hover">
						<a href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/">
							<img class="img-fluid" src="<%= asset_path( 'News/new3.jpg' ) %>", alt="person calling elevator">
						</a>

						<h4 class="text-left mt-20"><a
								href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/">Mezolift
								first solar elevator!</a></h4>
						<p class="text-left">Greek company Mezolift is the first company in the world to have created a
							solar lift/elevator (Mezus Solar) for small houses.</p>
					</div>
					<div class="img-hover">
						<a
							href="https://elevatortoday.com/2014/11/27/multi-first-rope-free-elevator-system-thyssenkrupp/">
							<img class="img-fluid" src="<%= asset_path( 'News/new4.jpg' ) %>", alt="free elevator structure">
						</a>

						<h4 class="text-left mt-20"><a
								href="https://elevatortoday.com/2014/11/27/multi-first-rope-free-elevator-system-thyssenkrupp/">MULTI
								first rope-free elevator system by ThyssenKrupp</a></h4>
						<p class="text-left">The era of the rope-dependent elevator is now over, 160 years after its
							invention. </p>
					</div>
					<div class="img-hover">
						<a href="https://elevatortoday.com/2017/01/15/elevator-made-out-of-composite-materials/">
							<img class="img-fluid" src="<%= asset_path( 'News/new5.jpeg' ) %>", alt="elevator cabine">
						</a>
						<h4 class="text-left mt-20"><a
								href="https://elevatortoday.com/2017/01/15/elevator-made-out-of-composite-materials/">Elevator
								made out of composite materials</a></h4>
						<p class="text-left">The world may soon get the first passenger elevator (enclosure) that is
							made out of composite materials.</p>
					</div>
					<div class="img-hover">
						<a
							href="https://elevatortoday.com/2018/05/25/ontario-passes-first-world-legislation-elevator-repair-times/">
							<img class="img-fluid" src="<%= asset_path( 'News/new6.jpg' ) %>", alt="paper notice">
						</a>
						<h4 class="text-left mt-20"><a
								href="https://elevatortoday.com/2018/05/25/ontario-passes-first-world-legislation-elevator-repair-times/">Ontario
								passes first in the world legislation for elevator repair times</a></h4>
						<p class="text-left">The Province of Ontario, Canada, is the first in the world to pass a
							legislation that establishes standards repair times for elevators. </p>
					</div>
				</div>

			</div>
		</section>
		<!-- /News -->



		<!-- Clients -->
		<section id="clients" class="alternate">
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h2>Our Clients</h2>
				</div>

				<ul class="row clients-dotted list-inline">
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid" src="assets/images/Clients/videotron.png" alt="client-videotron" /> %>
						<%= image_tag("Clients/videotron.png", :alt => "client-videotron", width: '150px', class:"img-fluid") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<%# <img class="img-fluid" src="assets/images/Clients/origine.png" alt="client-origine" /> %>
						<%= image_tag("Clients/origine.png", :alt => "client-origine", width: '150px', class:"img-fluid") %>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<%# <img class="img-fluid" src="assets/images/Clients/Fairmont.png" alt="client-fairmont" /> %>
						<%= image_tag("Clients/Fairmont.png", :alt => "client-fairmont", width: '150px', class:"img-fluid") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<%# <img class="img-fluid" src="assets/images/Clients/Laberge.png" alt="client-laberge" /> %>
						<%= image_tag("Clients/Laberge.png", :alt => "client-laberge", width: '150px', class:"img-fluid") %>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="">
							<%# <img class="img-fluid" src="assets/images/Clients/quebec.png" alt="client-quebec city" /> %>
							<%= image_tag("Clients/quebec.png", :alt => "client-quebec city", width: '150px', class:"img-fluid") %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<%# <img class="img-fluid" src="assets/images/Clients/Montreal.png" alt="client-montreal" /> %>
						<%= image_tag("Clients/Montreal.png", :alt => "client-montreal", width: '150px', class:"img-fluid") %>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<%# <img class="img-fluid" src="assets/images/Clients/Galerie.png"
							alt="client-galerie de la capitale" /> %>
						<%= image_tag("Clients/Galerie.png", :alt => "client-galerie de la capitale", width: '150px', class:"img-fluid") %>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<%# <img class="img-fluid" src="assets/images/Clients/desjardins.png" alt="client-desjardins" /> %>
						<%= image_tag("Clients/desjardins.png", :alt => "client-desjardins", width: '150px', class:"img-fluid") %>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<%# <img class="img-fluid" src="assets/images/Clients/mosaique.png"
							alt="client-mosaique quartier" /> %>
						<%= image_tag("Clients/mosaique.png", :alt => "client-mosaique quartier", width: '150px', class:"img-fluid") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<%# <img class="img-fluid" src="assets/images/Clients/Faubourg.png" alt="client-faubourg" /> %>
						<%= image_tag("Clients/Faubourg.png", :alt => "client-faubourg", width: '150px', class:"img-fluid") %>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<%# <img class="img-fluid" src="assets/images/Clients/laCapitale.png" alt="client-la capitale" /> %>
						<%= image_tag("Clients/laCapitale.png", :alt => "client-la capitale", width: '150px', class:"img-fluid") %>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<%# <img class="img-fluid" src="assets/images/Clients/td.png" alt="client-td" /> %>
						<%= image_tag("Clients/td.png", :alt => "client-td", width: '150px', class:"img-fluid") %>


					</li>
				</ul>

			</div>
		</section>
		<!-- /Clients -->




		<!-- CONTACT -->
		<section id="contact">
			<div class="container">
				<header class="text-center mb-60">
					<h2>Contact Us</h2>
					<p class="lead font-lato">We are here to help you, so don't hesitate to send a message.</p>
					<hr />
				</header>
				<div class="row">
					<div class="col-md-8 col-sm-8">


						<!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js
									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">
									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP
									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

						<!-- Alert Success -->
						<div id="alert_success" class="alert alert-success mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Thank You!</strong> Your message successfully sent!
						</div><!-- /Alert Success -->


						<!-- Alert Failed -->
						<div id="alert_failed" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>[SMTP] Error!</strong> Internal server error!
						</div><!-- /Alert Failed -->


						<!-- Alert Mandatory -->
						<div id="alert_mandatory" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
						</div><!-- /Alert Mandatory -->


					<!--form action="php/contact.php" method="post" enctype="multipart/form-data"/-->
					<form>
						<fieldset>
							<div class="row">
								<div class="col-md-4">
									<label for="contact:name">Contact Full Name *</label>
									<input id="name" required type="text" value="" class="form-control"
										name="contact[name][required]" id="contact:name">
								</div>
								<div class="col-md-4">
									<label for="contact:email">E-mail*</label>
									<input id=email required type="email" value="" class="form-control"
										name="contact[email][required]" id="contact:email">
								</div>
								<div class="col-md-4">
									<label for="contact:phone">Phone number</label>
									<input id="phone" type="text" value="" class="form-control" name="contact[phone]"
										id="contact:phone">
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<label for="contact:company_name">Business name *</label>
									<input id="company_name" required type="text" value="" class="form-control"
										name="contact[company_name][required]" id="contact:company_name">
								</div>
								<div class="col-md-6">
									<label for="contact:project_name">Project name *</label>
									<input id="project_name" required type="text" value="" class="form-control"
										name="contact[project_name][required]" id="contact:project_name">
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<label for="contact:project_description">Project description *</label>
									<input id="project_description" required type="text" value="" class="form-control"
										name="contact[proyect_description][required]" id="contact:project_description">
								</div>
								<div class="col-md-6">
									<label for="contact:department">Department</label>
									<select id="department" class="form-control pointer" name="contact[department]">
										<option value="">--- Select ---</option>
										<option value="marketing">Marketing</option>
										<option value="sales">Sales</option>
										<option value="legal">Legal</option>
										<option value="costumerService">Costumer service</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label for="contact:message">Message *</label>
									<textarea id="message" required maxlength="10000" rows="8" class="form-control"
										name="contact[message]" id="contact:message"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label for="contact:attachment">File Attachment</label>

									<!-- custom file upload -->
									<input id="attachment" class="custom-file-upload" type="file" id="file"
										name="contact[attachment]" id="contact:attachment"
										data-btn-text="Select a File" />
									<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

								</div>
							</div>

						</fieldset>

						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-blue"><i class="fa fa-check"></i> SEND
									MESSAGE</button>
							</div>
						</div>
					</form>

					</div>
					<!-- /FORM -->


					<!-- INFO -->
					<div class="col-md-4 col-sm-4">

						<!-- 
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->




						<p>
							<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong>418-725
								Boulevard Lebourgneuf, Québec, QC G2J 0C4, Canada</span>
							<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a
									href="tel:(418) 555-1234">(418) 555-1234 </a></span>
							<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a
									href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
						</p>

					</div>
					<!-- /INFO -->

				</div>

			</div>
		</section>
		<!-- /CONTACT -->

